body {
	font-family: Arial, sans-serif;
	margin: 0;
  background-color: #1e252f;
  transition: all 0.5s ease-in-out;
    
}

header {
	color: #01eefe;
	padding: 10px;
  height: fit-content;
  
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;

   
}
.menu{
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  display: none !important;
}
.logo {

  display: flex;
	justify-content: center;
	align-items: center;
}
.logoimg{
  width: 40px;
  height: 40px;
  background-image: url('logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 5px;
 
}

.links {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
    justify-content: end;
    align-items: center;
    width: 70%;
    
}

.contact-btn a{
  text-decoration: none;
  color: #fff;
}

.links li {
	margin: 0 10px;
}
.icon {
  color: #01eefe;
  font-size: 25px;
	
}
.icon:hover {
	color: #01eefe;
    
}

.links a {
	display: block;
	color: #01eefe;
	text-align: center;
	padding: 10px 16px;
	text-decoration: none;
    border-radius: 15px;
    
}

.links a:hover {
	color: #01eefe;
    text-shadow: 0 0 5px #01eefe;
    box-shadow:
     0 0 10px #01eefe,
     0 0 20px #01eefe,
     0 0 40px #01eefe;
    letter-spacing: 4px;
    
}

.home {
	display: flex;
	flex-wrap: wrap;
	padding: 20px;
    height: max-content;
    background-color: #1e252f;
}

.left {
	flex: 1;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-left: 60px;
}

.right {
	flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left h3 {
	font-size:1.3rem;
	
    color: #fff;
    
}

.left p {
	font-size: 15px;
    font-weight: 500;
    color: white;
}

button {
	background-color: #01eefe;
	color: #1e252f;
	border: none;
    font-weight: 600;
	font-size: 16px;
	margin-top: 20px;
	cursor: pointer;
    border-radius: 15px;
    padding: 10px 20px;
    box-shadow: 0 0 5px #01eefe;
    transition:ease-out 0.5s;
   
}

button:hover {

	box-shadow:
     0 0 10px #01eefe,
     0 0 20px #01eefe;
  
    letter-spacing: 2px;
}

.dev{
    display: flex;
    font-size:2rem;
    color: #01eefe;
    margin-top: -10px;
    height: 2rem;
    overflow: hidden;

}
.words{
    margin-right: 5px;
    animation: spin 6s infinite;    
    text-shadow: 0 0 3px #01eefe;
}

@keyframes spin{
    10%{
        transform: translateY(0%);
    }
    30%{
        transform: translateY(-112%);
    }
    50%{
        transform: translateY(-232%);
    }
    70%{
        transform: translateY(-112%);
    }
    90%{
        transform: translateY(-0%);
    }
   
    
    
}

/* Service Styles */
.services{
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
  
   
   
}
.h-service{
    display: flex;
    width: 100%;
    height: 10vh;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    color: #01eefe;
    
}

.service-cards {
	display: flex;
  width: auto;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 30px;
  padding: 10px;
  justify-content: center;
 
}

.service-card {
	background-color: #313743;
	color: #fff;
	border-radius: 10px;
	padding: 30px 10px 30px 10px;
	width: 300px;
	margin:10px;
    border:2px solid #01eefe;
    transition:ease-out 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}

.service-card:hover {
    box-shadow: 0 0 5px #01eefe,
                0 0 20px #01eefe;
   
}
.service-card:hover .fas{
 
    text-shadow: 0 0 5px #01eefe;
}

.service-card i {
	font-size: 60px;
	margin-bottom: 20px;
}

.service-card h2 {
	font-size: 24px;
	margin-bottom: 10px;
}

.service-card ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.service-card ul li {
	margin-bottom: 5px;
}

.fas{
    color: #01eefe;
    
}

/* Portfolio section styling */

.portfolio {
    margin-top: 50px;
  }
  
  .tabs {
    overflow: hidden;
    border-bottom: 1px solid #ccc;
  }
  
  .tablink {
    background-color: #f1f1f1;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    margin-right: 5px;
    margin-bottom: -1px;
  }
  
  .tablink:hover {
    background-color: #ddd;
  }
  
  .tabcontent {
    display: none;
    padding: 20px;
    clear: both;
  }
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .gallery a {
    margin: 10px;
    flex-basis: calc(50% - 20px);
  }
  
  /* team css */
.team{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
 

  .h-team{
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    color: #01eefe;
    margin-bottom: 50px;

    
  }

  .team-card{
   display: flex;
   justify-content: center;
   align-items: center;

    width: 355px;
  }
  .team-container{
    display: flex;
    align-items: center;
    gap: 100px;
    transition: transform 0.5s ease-in-out;
    
  }
 
 
  
  .team-member {
    width: 300px;
    display: flex;
    padding: 15px 10px 25px 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    color: #fff;
    background-color: #313743;
    border-radius: 10px;
    border:2px solid #01eefe;
    
    
    
       

  }

  .team-member img {
    width: 300px;
    height: auto;
    margin-right: 30px;
    margin-bottom: 30px;
  }

  .team-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .team-member h2 {
    margin: 0;
    font-size: 24px;
    
  }
  
  .team-member p {
    margin: 10px 0 0 0;
    font-size: 18px;
  }
  .arwbtn{
    display: none;
  }


  /* Portfolio css */
  .portfolio{
    height: fit-content;
    padding: 20px;
    margin-bottom: 80px;
   
  }
  
  .portfolio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    
  }
  
  .portfolio-container a {
    position: relative;
    display: block;
    width: 300px;
    height: 200px;
    border:5px solid #01eefe;
    border-radius: 10px;
  }
  
  .portfolio-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .overlay {
    position: absolute;
    background:  linear-gradient(
      rgba(255, 255, 255, 0.45), 
      #01eefe
    ) ;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .overlay:hover {
    opacity: 1;
  }
  
  .open-sign {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
  }
  

  /* contact css */
  
  .contact {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
    color: #fff;
    
  }
  .h-contact{
    display: flex;
    margin-bottom: 50px;
    width: 100%;
    height: fit-content;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    color: #01eefe;
    
    
  }
 
  
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: #fff;
  }
  
  label {
    font-size: 18px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    background-color: #313743;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    color: #fff;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #01eefe;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #01eefe;
  }


  @media screen and (max-width: 600px )  {
    /* .links li:not(:first-child) {display: none;} */
    header {
      position: relative;
    }
    .icon {
      display: block !important;
      position: absolute;
      right: 20px;
      top: 30px;
    }
    nav{
      display: flex;
      flex-direction: column;
      
    }
    .menu{
      display: none;
      
    }
    .links{
      width: 100%;
    }
    .menu.responsive {
      width: 100%;
      display: flex;
      flex-direction: column;
      border:2px solid #01eefe;
      background-color: #313743;
    
    }

    .right{
      display: none;
    }
    .left{
      margin-left: 0;
    }
    .arrow{
      display: flex;
      justify-content: center;
      align-items: center;
      width: auto;
      height: auto;
      padding: 5px 25px;
      font-size: 50px;
    
      color: #fff;
    }
    
    .arwbtn{
      display: flex;
      justify-content: center;
      align-items: center;
     
     }

     .team-card{
      display: block;
      overflow: hidden;
       width: 355px;
     }
     .team-container{
       display: flex;
       align-items: center;
       gap: 50px;
       transition: transform 0.5s ease-in-out;
       
     }
     .translator {
      
      transform: translateX(-804px);#-404S
    }
    .translater2{
      transform: translateX(-804px);
    }


    .contact {
      max-width: 350px;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 50px;
      
    }
  }

  
  
  
  